.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
}

.footer__content {
}

.footer__logo {
}

.footer__column {
}

.footer__column-heading {
}

.footer__list {
}

.footer__list-item {
}

.footer__social-icon {
}

.footer__social-link {
}

.footer__copyright {
}
