.form {
  max-width: 385px;
}

.form__label {
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
}

.form__input {
  max-width: 385px;
  margin-bottom: 32px;
  padding: 15px 20px;
}

.form__button {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #1878dc;
  border-radius: 4px;
  margin-top: 32px;
}
